/* general */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.clearfix{
  display: table;
  content: "";
  clear: both;
}
.fl{
  float: left;
}
.col-gray-foot{
  color: #5a5a5a;
}
.col-gray-side{
  color: #989898;
}
a{
  text-decoration: none;
}
.fs{
  font-size: 12px;
}
/* /general */

/* struttura generale*/
.container{
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: black;
  color: #fff;
  font-size: 14px;
  position: relative;
}
.sidebar{
  height: calc(100vh - 80px);
  width: 200px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.barra{
  width: calc(100% - 200px);
  background-color: #080b12;
  height: 80px;
  position: relative;
}
.content{
  height: calc(100vh - 160px);
  width: calc(100% - 200px);
  background-color: lightgreen;
  overflow: hidden;
}
footer{
  width: 100%;
  height: 80px;
  background-color: #282828;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* /struttura generale*/

/* struttura sidebar */

/* sidebar top */
/* .hidden-xs{
  display: none;
} */
.hidden-all{
  display: none;
}
.hidden-all > div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hidden-all > div > div{
  padding-top: 10px;
}
.hidden-all img{
  width: 40px;
}
.sidebar-top{
  height: 400px;
  overflow-y: hidden;
  min-height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.sidebar i{
  font-size: 20px;
  color: #989898;
}
.sidebar-top-1{
  background-color: black;
  width: 100%;
}
.sidebar-top-1 .logo-side{
  padding: 5px 10px;
}
.logo-side .spotify{
  font-size: 25px;
  vertical-align: middle;
  font-weight: bold;
}
.sidebar-top-1 img{
  height: 50px;
  vertical-align: middle;
}
.home-side{
  padding: 5px 20px;
}
.home-side a span{
  padding-left: 5px;
}
.home-home-side{
  border-left: 4px solid lightgreen;
  padding-left: 16px;
}
.playlist{
  padding-top: 10px;
  padding-left: 20px;
  font-weight: bold;
}
.cont-logo-pl{
  padding-top: 5px;
  padding-left: 20px;
  padding-bottom: 20px;
}
.cont-logo-pl img{
  height: 35px;
}
.sidebar-top-2{
  height: 200px;
  width: 100%;
  padding: 0 20px;
  overflow-y: scroll;
}
.sidebar-top-2 >div{
  padding-bottom: 5px;
}
.hover-white:hover{
  color: #fff;
  font-weight: bold;
}
/* /sidebar top */

/* sidebar bottom */
.sidebar-bottom{
  /* height: 60px; */
  min-height: 0;
  width: 100%;
}
.sidebar-bottom1{
  height: 40px;
  line-height: 40px;
  border-top: 1px solid #fff;
  margin: 0 10px;
}
.sidebar-bottom > a{
  display: inline-block;
  padding: 5px 10px;
}
.sidebar-bottom1:hover{
  font-weight: bold;
}
.sidebar-bottom1 span:first-of-type{
  font-size: 20px;

}
.sidebar-bottom1 span:nth-child(2){
  padding-left: 10px;
  color: #fff;
}
/* /sidebar-bottom */

/* /struttra sidebar */

/* struttura barra */
.upgrade-button{
  height: 40px;
  line-height: 40px;
  padding: 0 30px;
  border-radius: 30px;
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  border: 1px solid #fff;
  position: fixed;
  top: 20px;
  right: 0;
  z-index: 10;
}
.upgrade-button:hover{
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  position: fixed;
  top: 15px;
}
/* /struttura barra */

/* struttura footer */

/* footer left */
.footer-left{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 230px;
}
.footer-left img{
  height: 40px;
  margin-right: 10px;
  vertical-align: middle;
}
.footer-left > div:first-of-type{
  display: flex;
  align-items: center;
}
.footer-left .icon-group a{
  color: #5a5a5a;
  font-size: 16px;
}
.footer-left .icon-group a:hover{
  color: #fff;
}
.footer-left .icon-group > span{
  margin-left: 10px;
}
.font-extra-small{
  font-size: 10px;
  text-decoration: none;
}
.font-extra-small:hover{
  text-decoration: underline;
  color: #fff;
}
/* /footer-left */

/* footer-center */
.footer-center{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px
}
.footer-center-top{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .footer-center-top > span:nth-last-of-type(1n+2){
  margin-right: 30px;
} */
.footer-center-top > span{
  width: 40px;
  text-align: center;
}
.footer-center-top > span a{
  font-size: 16px;
  color: #fff;
}
.footer-center-top > span a:hover{
  font-size: 18px;
}
.footer-center-top > span:nth-of-type(3){
  height: 35px;
  line-height: 35px;
}
.footer-center-top > span:nth-of-type(3) a{
  font-size: 30px;
}
.footer-center-top > span:nth-of-type(3) a:hover{
  font-size: 35px;
}
.footer-center-bottom{
  width: 100%;
  display: flex;
  justify-content: center;
}
.footer-center .group-lit-line-foot{
  width: 60%;
  display: flex;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
}
.footer-right .group-lit-line-foot{
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 3%;
  margin-right: 3%;
  position: relative;
}



.group-lit-line-foot:hover .lit-line-foot1{
  border-bottom: 5px solid lightgreen;
}
.group-lit-line-foot:hover .pallini{
  display: block;
}
.lit-line-foot1{
  border-bottom: 3px solid #c1c1c1;
  width: 30%;
}
.lit-line-foot2{
  border-bottom: 3px solid #5a5a5a;
  width: 70%;
}
.pallini{
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #fff;
  display: none;
  margin-left: -1px;
}
/* /footer-center */

/* footer-right */
.footer-right{
  display: flex;
  align-items: center;
  padding: 10px;
  width: 230px;
}
.footer-right a{
  color: #fff;
  font-size: 16px;
}
.footer-right > div{
  width: 50px;
  text-align: center;
}
.footer-right > div:nth-of-type(1n+2) a{
  /* margin-left: 15px; */
}
.footer-right .group-lit-line-foot{
  margin-right: 0;
}
/* /footer-right */

/* /struttura footer */












/* md */
@media screen and (max-width: 991px){

}
/* /md */
/* sd */
@media screen and (max-width: 767px){

}
/* /sd */




/* xs */
@media screen and (max-width: 575px){
  .sidebar{
    max-width: 50px;

  }

  .content{

    width: calc(100% - 50px);

  }

  .barra{
    width: calc(100% - 50px);

  }
  .hidden-xs{
    display: none;
  }
  .footer-right a{

    font-size: 12px;
  }
  .footer-left a{
    font-size: 12px;
  }
  .footer-right > div:nth-of-type(1n+2) a{

    margin-left: 7px;

  }
  .hidden-all{
    display: block;
  }
  .footer-right > div{
    width: 25px;
  }
}
/* /xs */




/* lg */
@media screen and (min-width: 1201px){

}
/* /lg */










/* colori sidebar: background black; color: #989898; and #fff; */
/* colori footer: background: #282828; color: #c1c1c1; and #5a5a5a; */
/* colore barra: background: #080b12; */
/* colore content: background: #141922; color: #7c7e83; */
