/* general */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.clearfix{
  display: table;
  content: "";
  clear: both;
}
.fl{
  float: left;
}
.hover-white:hover{
  color: #fff;
  font-weight: bold;
}
a{
  text-decoration: none;
}
h1{
  display: inline-block;
  vertical-align: middle;
  font-size: 30px;
}
h2{
  font-size: 25px;
  margin-top: 30px;
  margin-left: 15px;
}
h3{
  font-size: 18px;
  color: #fff;
}
/* /general */

/* struttura generale*/
.container{
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: black;
  color: #fff;
  position: relative;
}
.sidebar{
  height: calc(100vh - 80px);
  width: 200px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.barra{
  width: calc(100% - 200px);
  background-color: #080b12;
  height: 80px;
  position: relative;
}
.content{
  height: calc(100vh - 160px);
  width: calc(100% - 200px);
  background-color: #141922;
  overflow-y: scroll;
}
footer{
  width: 100%;
  height: 80px;
  background-color: #282828;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* /struttura generale*/

/* struttura sidebar */
.sidebar a{
  color: #989898;
}
.sidebar i{
  font-size: 25px;
}
.sidebar span{
  padding-left: 10px;
}
.hidden-all{
  display: none;
  height: calc(100vh - 80px);
}
.hidden-all > div{
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 0;
}
.hidden-all > div > div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hidden-all > div > div > div{
  padding-top: 10px;
}
.hidden-all img{
  width: 40px;
}
/* sidebar top */
.sidebar-top{
  overflow-y: hidden;
  min-height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.logo-side{
  padding: 10px;
}
.sidebar-top-1 img{
  height: 50px;
  vertical-align: middle;
}
.group-home > div:nth-of-type(2), .sidebar-top-2 > div{
  padding: 7px 14px;
}
.group-home{
  position: relative;
}
.linea{
  width: 4px;
  height: 40px;
  background-color: lightgreen;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  display: none;
}
.group-home:hover .linea{
  display: block;
}
.group-home:hover .hover-white{
  color: #fff;
  font-weight: bold;
}
.playlist{
  padding: 20px 14px;
}
.playlist img{
  height: 38px;
}
.playlist > div{
  padding-top: 10px;
}
.sidebar-top-2{
  width: 100%;
  overflow-y: scroll;
}
/* /sidebar top */
/* sidebar bottom */
.sidebar-bottom{
  min-height: 0;
  width: 100%;
}
.sidebar-bottom > div:first-child{
  margin: 0 14px;
  padding: 5px 0;
  border-bottom: 1px solid #989898;
}
.sidebar-bottom > div:nth-child(2){
  padding: 7px 14px;
}
/* /sidebar-bottom */
/* /struttra sidebar */

/* struttura barra */
.upgrade-button{
  height: 40px;
  line-height: 40px;
  padding: 0 30px;
  border-radius: 30px;
  margin-right: 10px;
  color: #fff;
  font-size: 14px;
  border: 1px solid #fff;
  position: fixed;
  top: 20px;
  right: 0;
  z-index: 10;
}
.upgrade-button:hover{
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  position: fixed;
  top: 15px;
}
/* /struttura barra */

/* struttura content */
.content a, h2 + div{
  color: #7c7e83;
}
/* nav */
nav{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
nav > div:hover .bb{
  display: block;
}
nav > div:hover a{
  color: #fff;
  font-weight: bold;
}
nav > div{
  padding: 20px 15px 7px 15px;
  position: relative;
}
.bb{
  display: none;
  width:40px;
  border-bottom: 1px solid lightgreen;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
/* /nav */
.content-content{
  display: flex;
  flex-wrap: wrap;
}
.block-content{
  width: calc(100% / 6 - 30px);
  margin: 30px 15px 15px 15px;
}
.block-content img{
  width: 100%;
  vertical-align: middle;
}
.cont-image{
  position: relative;
}
.cont-play{
  font-size: 70px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.cont-title > *{
  text-align: center;
}
.cont-title > h3{
  padding-top: 10px;
}
.cont-title > div{
  padding-top: 5px;
}
.block-content a:hover .cont-play{
  display: block;
  z-index: 10
}
.block-content a:hover img{
  opacity: 0.2;
}
h2 + div{
  margin: 10px 15px 0 15px;
}
.mrgb{
  margin-bottom: 15px;
}
/* /struttura content */

/* struttura footer */
/* footer left */
.footer-left{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 230px;
}
.footer-left img{
  height: 40px;
  margin-right: 10px;
  vertical-align: middle;
}
.footer-left > div:first-of-type{
  display: flex;
  align-items: center;
}
.footer-left .icon-group a{
  color: #5a5a5a;
  font-size: 16px;
}
.col-gray-foot{
  color: #5a5a5a;
}
.footer-left .icon-group a:hover{
  color: #fff;
}
.footer-left .icon-group > span{
  margin-left: 10px;
}
.font-extra-small{
  font-size: 10px;
  text-decoration: none;
}
.font-extra-small:hover{
  text-decoration: underline;
  color: #fff;
}
/* /footer-left */
/* footer-center */
.footer-center{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px
}
.footer-center-top{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-center-top > span{
  width: 40px;
  text-align: center;
}
.footer-center-top > span a{
  font-size: 16px;
  color: #fff;
}
.footer-center-top > span a:hover{
  font-size: 18px;
}
.footer-center-top > span:nth-of-type(3){
  height: 35px;
  line-height: 35px;
}
.footer-center-top > span:nth-of-type(3) a{
  font-size: 30px;
}
.footer-center-top > span:nth-of-type(3) a:hover{
  font-size: 35px;
}
.footer-center-bottom{
  width: 100%;
  display: flex;
  justify-content: center;
}
.footer-center .group-lit-line-foot{
  width: 60%;
  display: flex;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
}
.footer-right .group-lit-line-foot{
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 3%;
  margin-right: 3%;
  position: relative;
}
.group-lit-line-foot:hover .lit-line-foot1{
  border-bottom: 5px solid lightgreen;
}
.group-lit-line-foot:hover .pallini{
  display: block;
}
.lit-line-foot1{
  border-bottom: 3px solid #c1c1c1;
  width: 30%;
}
.lit-line-foot2{
  border-bottom: 3px solid #5a5a5a;
  width: 70%;
}
.pallini{
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #fff;
  display: none;
  margin-left: -1px;
}
/* /footer-center */
/* footer-right */
.footer-right{
  display: flex;
  align-items: center;
  padding: 10px;
  width: 230px;
}
.footer-right a{
  color: #fff;
  font-size: 16px;
}
.footer-right > div{
  width: 50px;
  text-align: center;
}
.footer-right > div:nth-of-type(1n+2) a{
  /* margin-left: 15px; */
}
.footer-right .group-lit-line-foot{
  margin-right: 0;
}
/* /footer-right */
/* /struttura footer */

/* mediaquery */
@media screen and (max-width: 991px){
  .block-content{
    width: calc(100% / 4 - 30px);
  }
}
@media screen and (max-width: 767px){
  .block-content{
    width: calc(50% - 30px);
  }
}
@media screen and (max-width: 575px){
  .sidebar{
    max-width: 50px;
  }
  .content{
    width: calc(100% - 50px);
  }
  .barra{
    width: calc(100% - 50px);
  }
  .hidden-xs{
    display: none;
  }
  .hidden-all{
    display: block;
  }
  .block-content{
    width: calc(50% - 30px);
  }
  .footer-right a{
    font-size: 12px;
  }
  .footer-left .icon-group a{
    font-size: 12px;
  }
  .footer-right > div:nth-of-type(1n+2) a{
    margin-left: 7px;
  }
  .footer-right > div{
    width: 25px;
  }
}
/* /mediaquery */

































/* colori sidebar: background black; color: #989898; and #fff; */
/* colori footer: background: #282828; color: #c1c1c1; and #5a5a5a; */
/* colore barra: background: #080b12; */
/* colore content: background: #141922; color: #7c7e83; */
