/* general */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.clearfix{
  display: table;
  content: "";
  clear: both;
}
.fl{
  float: left;
}
/* /general */

/* struttura generale*/
.container{
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: black;
  color: #fff;
  position: relative;
}
.sidebar{
  height: calc(100vh - 80px);
  width: 200px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.barra{
  width: calc(100% - 200px);
  background-color: blue;
  height: 80px;
  position: relative;
}
.content{
  height: calc(100vh - 160px);
  width: calc(100% - 200px);
  background-color: lightgreen;
  overflow: scroll;
}
footer{
  width: 100%;
  height: 80px;
  background-color: orange;
  overflow: hidden;
  position: fixed;
  bottom: 0;
}
/* /struttura generale*/

/* struttura sidebar */
/* sidebar top */
.sidebar-top{
  height: 400px;
  overflow-y: hidden;
  min-height: 300px;
  width: 100%;
  border: 1px solid yellow;
  display: flex;
  flex-direction: column;
}
.sidebar-top-1{
  background-color: orange;
  width: 100%;
}
.sidebar-top-2{
  background-color: orange;
  height: 200px;
  width: 100%;
  overflow-y: scroll;
}
/* /sidebar top */
/* sidebar bottom */
.sidebar-bottom{
  height: 50px;
  min-height: 0;
  width: 100%;
  border: 1px solid yellow;
}
/* /sidebar-bottom */
/* /struttra sidebar */

/* struttura barra */
.upgrade-button{
  height: 80px;
  width: 100px;
  background-color: pink;
  position: fixed;
  right: 0;
  z-index: 10;
}
/* /struttura barra */




















/* xs */
@media screen and (max-width: 768px){
  .sidebar{
    max-width: 50px;

  }

  .content{

    width: calc(100% - 50px);

  }

  .barra{
    width: calc(100% - 50px);

  }

}
/* /xs */

/* sd */
@media screen and (min-width: 769px) and (max-width: 991px){

}
/* /sd */

/* md */
@media screen and (min-width: 992px) and (max-width: 1200px){

}
/* /md */

/* lg */
@media screen and (min-width: 1201px){

}
/* /lg */










/* colori sidebar: background black; color: #989898; and #fff; */
/* colori footer: background: #282828; color: #c1c1c1; and #5a5a5a; */
/* colore barra: background: #080b12; */
/* colore content: background: #141922; color: #7c7e83; */
